.headerDesktop {
  background: #131219;
  border-radius:5px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  margin-top: 0px;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  justify-content: space-evenly;
  z-index: 999;
  @media (max-width: 1000px) {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
.headerMobile {
  background-color: #121214;
  width: 100%;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
  padding: 0;
  @media (min-width: 1000px) {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.menuList {
  display: flex;
  align-items: center;
  color: black;
  list-style-type: none;
  gap: 16px;
}
.menuLi {
  // padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.menuIcon {
  width: 30px;
  height: 50px;
  background-color: transparent;
  border: none;
  div {
    background-color: white;
    height: 4px;
    width: 30px;
    margin: 8px;
  }
}
