.brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  // overflow-y: hidden;

}

.firstLayer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  gap: 0px;
  flex-wrap: wrap;


}

.titleBrand {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 150px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 40px;
 
}

.titleBrand::before {
  z-index: 0;
  margin-top: 30px;
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  background: linear-gradient(30deg,
      #f00d,
      rgb(249, 4, 98),
      rgb(92, 1, 249),
      rgb(183, 1, 249));
  border-radius: 60px;
  filter: blur(20px);
}

.titleBrand::after {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  background: linear-gradient(315deg,
      #f00d,
      rgb(249, 4, 98),
      rgb(92, 1, 249),
      rgb(183, 1, 249));
  border-radius: 40px;
  color: white;
}

.titleBrand h1 {
  z-index: 5;
  font-size: 130px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleBrand h1:first-child::first-letter {
  z-index: 2;
  font-size: 135px;
  margin-right: 35px;
  margin-left: 30px;
}

@media (max-width: 440px) {
  .titleBrand {
    width: 100%;
    margin-left: 8px;
  }

  .titleBrand h1 {
    font-size: 80px;
  }

  .titleBrand h1:first-child::first-letter {
    z-index: 2;
    font-size: 100px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .titleBrand::before {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    margin: 0;
  }

  .titleBrand::after {
    content: "";
    margin: 0;
    height: 100px;
    width: 100px;
    border-radius: 30px;
  }

  .titleBrand h1::after {
    display: none;
  }

  .titleBrand h1::before {
    display: none;
  }
}


.secondLayer {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sloganBrand {
  margin-top: 60px;
  width: 100%;
 
}

.sloganBrand h1 {
  text-align: start;
  width: 100%;
  background: -webkit-linear-gradient(315deg,
      #f00d,
      rgb(249, 4, 98),
      rgb(92, 1, 249),
      rgb(183, 1, 249));
  -webkit-background-clip: text;
  background-clip: transparent;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.heroBrand {
  position:relative;
  width: 60%;
  max-width: 100%;
  height: 600px;
  background: url('/images/brand.webp');
  object-fit: cover;
  background-size: cover;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 52% 49%, 25% 0);
  box-shadow: inset 13px 13px 15px #0b0b0b,inset -13px -13px 15px #0b0b0b;
}
.heroBrand::after {
content:"";
position:absolute;
width: 100%;
height:100%;
background: linear-gradient(315deg,
rgba(255, 0, 0, 0.5),
rgba(249, 4, 98, 0.5),
rgba(92, 1, 249, 0.5),
rgba(183, 1, 249, 0.5));



}






























































.sloganBrand h2 {
  position: relative;
}

.sloganBrand h2:nth-of-type(1) {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;

  margin-top: 200px;
  margin-right: 0px;
  border-radius: 45px;
  background: #15141b;
  backdrop-filter: blur(110px);
  padding: 8px;
  width: 210px;
  height: 210px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.sloganBrand h2:nth-of-type(1)::before {
  z-index: -3;
  position: absolute;
  content: '';
  top: 2;
  border-radius: 45px;
  width: 200px;
  height: 200px;
  background: rgb(249, 4, 98);
  filter: blur(40px);

}

.sloganBrand h2:nth-of-type(1)::after {
  z-index: -2;
  position: absolute;
  content: '';
  top: -4;
  border-radius: 45px;
  border-bottom-right-radius: 500px;
  width: 100%;
  height: 100%;
  background: rgb(249, 4, 98);
  animation: rotateTa 0.8s infinite;
  transform: rotate(130deg);
  box-shadow: inset 10px 10px 35px rgba(92, 1, 249, 0.458), inset -10px -10px 35px rgba(92, 1, 249, 0.524),
    10px 10px 35px rgba(10, 10, 10, 0.965), -10px -10px 35px rgba(19, 19, 20, 0.932);
  transition: 1s ease;

}

.sloganBrand p {
  color: white;
  text-align: start;
  font-size: 2rem;

}

.sloganBrand h2:nth-of-type(2) {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-align: center;

  border-radius: 45px;
  background: #15141b;
  backdrop-filter: blur(110px);
  padding: 8px;
  width: 210px;
  height: 210px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.sloganBrand h2:nth-of-type(2)::before {
  z-index: -3;
  position: absolute;
  content: '';
  top: 2;
  border-radius: 45px;
  width: 200px;
  height: 200px;
  background: rgb(249, 4, 98);
  filter: blur(40px);

}

.sloganBrand h2:nth-of-type(2)::after {
  z-index: -2;
  position: absolute;
  content: '';
  top: -4;
  border-radius: 45px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: 100%;
  background: rgb(249, 4, 98);
  animation: rotateTa 0.8s infinite;
  transform: rotate(220deg);
  box-shadow: inset 10px 10px 35px rgba(92, 1, 249, 0.458), inset -10px -10px 35px rgba(92, 1, 249, 0.524),
    10px 10px 35px rgba(10, 10, 10, 0.965), -10px -10px 35px rgba(19, 19, 20, 0.932);
  transition: 1s ease;

}

.sloganBrand h2:nth-of-type(3) {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin-top: 180px;

  border-radius: 45px;
  background: #15141b;
  backdrop-filter: blur(110px);
  padding: 8px;
  width: 210px;
  height: 210px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.sloganBrand h2:nth-of-type(3)::before {
  z-index: -3;
  position: absolute;
  content: '';
  top: 2;
  border-radius: 45px;
  width: 200px;
  height: 200px;
  background: rgb(249, 4, 98);
  filter: blur(40px);

}

.sloganBrand h2:nth-of-type(3)::after {
  z-index: -2;
  position: absolute;
  content: '';
  top: -4;
  border-radius: 45px;
  border-bottom-right-radius: 500px;
  width: 100%;
  height: 100%;
  background: rgb(249, 4, 98);
  animation: rotateTa 0.8s infinite;
  transform: rotate(-50deg);
  box-shadow: inset 10px 10px 35px rgba(92, 1, 249, 0.458), inset -10px -10px 35px rgba(92, 1, 249, 0.524),
    10px 10px 35px rgba(10, 10, 10, 0.965), -10px -10px 35px rgba(19, 19, 20, 0.932);
  transition: 1s ease;

}