.mainContainer {
    
        margin: 0 auto;
        // background: #1b0038;
        backdrop-filter: blur(50px);
     
        background: #131219;
        background-attachment: fixed;
        width:100%;
        height:100%;
        
    
}
