.effectBlockArticle {
  position: relative;
  display: flex;
  width: 410px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background: transparent;
  padding: 8px 8px 12px 8px;
  border-radius: 2px;
  @media (max-width: 840px) {
    width: 95%;
  }
  box-shadow:
     0px 0px 15px 2px rgba(70, 3, 228, 0.35),
     inset 10px 10px 25px rgb(13, 1, 42),
     inset -10px -10px 25px rgb(13, 1, 42);
}
.effectBlockArticle:hover {
  & img {
    transition: all linear 0.5s;
  }

  box-shadow: 0px 0px 30px 10px rgba(88, 36, 220, 0.6);
}

.blogArticleBlock {

  box-shadow: 0px 5px 10px 3px #080808ec;
  z-index: 1;
  position: relative;
  color: rgba(200, 200, 200, 1);
  position: relative;
  cursor: pointer;
  background-image: radial-gradient(
    circle at center,
    #1e0c3c 40%,
    #09090a 100%
  );


  
}
.blogArticleBlock::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;



  transition: opacity 1s linear;
  opacity: 0;
  z-index: 5;
}
.blogArticleBlock:hover::before, .blogArticleBlock:active::before {
  opacity: 1;
}

.blogArticleBlockSquare {
  min-width: 280px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
  min-height: 400px;
  max-height: 600px;
}

.effectBlockArticle:hover::before,  .effectBlockArticle:active::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 200%;

  background: linear-gradient(
    to bottom,
    rgb(2, 240, 34) 50%,
    rgb(2, 240, 34) 50%
  );
  filter:blur(50px);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(350deg);
  }
}
.blogFeaturedImageBlock {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 11;
  & img {
    object-fit: cover;
  }

  @media (max-width: 840px) {
    width: 100% !important;
  }
}

.blogFeatureImageBlockSquare {
  width: 390px;
  @media (max-width: 840px) {
    width: 100%;
  }
}

.blogArticleContent {
  display: flex;
  z-index: 12;
  flex-direction: column;
  width: 390px;
  padding: 20px;
  justify-content: space-around;
  max-height: 400px;
  min-height: 280px;
 
  @media (max-width: 840px) {
    width: 100%;
  }
}

.blogArticleContentSquare {
  width: 100%;
}

.blogArticleCategoryBadge {
  margin-top: 10px;
  margin-bottom: 16px;
  left: 0;
  display: inline-block;
  position: absolute;
  color: white;
  background-color: rgb(50, 50, 88);
  margin-left: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.blogArticleTitle {
  margin-top: 50px;
  color: white;
  font-weight: normal;
  width: 100%;
  padding-bottom: 24px;
}

.blogArticleExcerpt {
  color: rgba(200, 200, 200, 1);
  font-size: 16px;
  padding-bottom: 32px;
}

.blogArticleMeta {
  width: 100%;
  display: flex;
  font-size: 12px;
  flex-direction: raw;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 26px;
}

.blogArticleContainerButton {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: raw;
  justify-content: space-around;
  // align-items: center;
}
