.effectBlockArticle {
  position: relative;
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 6px 8px 8px 8px;
  border-radius: 15px;
  margin-bottom: 20px;

  @media (max-width: 400px) {
    width: 95%;
  }

  transition: box-shadow ease 1.5s;
}

.effectBlockArticle:hover {
  box-shadow:
    0px 0px 35px 15px rgba(70, 3, 228, 0.35),
    inset 10px 10px 25px rgb(0, 0, 0),
    inset -10px -10px 25px rgb(1, 0, 4);
}

.blogArticleBlock {
  border-radius: 15px;

  box-shadow: 0px 0px 10px 3px #080808ec;
  z-index: 1;
  position: relative;
  color: rgba(200, 200, 200, 1);
  position: relative;
  cursor: pointer;
  background: radial-gradient(circle at center,
      #1e0c3c 10%,
      #09090a 100%);
}

.blogArticleBlockSquare {
  min-width: 280px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 300px;
  max-height: 600px;
}

.effectBlockArticle::before {
  content: "";
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgb(93, 2, 240) 50%,
      rgb(93, 2, 240) 50%);
  transition: opacity ease 1s;
  opacity: 0;
}

.effectBlockArticle:hover::before,
.effectBlockArticle:active::before {
  opacity: 1;
}

.blogFeaturedImageBlock {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 11;

  & img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }

  @media (max-width: 840px) {
    width: 100% !important;
  }
}

.blogFeatureImageBlockSquare {
  width: 390px;

  @media (max-width: 840px) {
    width: 100%;
  }
}

.blogArticleContent {
  display: flex;
  z-index: 0;
  flex-direction: column;
  width: 380px;
  padding: 20px;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 400px;
  min-height: 200px;

  @media (max-width: 840px) {
    width: 100%;
  }
}

.blogArticleContentSquare {
  width: 100%;
}

.blogArticleCategoryBadge {
  position: absolute;
  width: 100%;
  top: -15px;

  & span {
    margin-bottom: 16px;
    display: inline-block;
    color: white;
    background-color: rgb(50, 50, 88);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
  }
}

.blogArticleTitle {
  margin-top: 50px;
  color: white;
  font-weight: normal;
  width: 100%;
  padding-bottom: 24px;
}

.blogArticleExcerpt {
  color: rgba(200, 200, 200, 1);
  font-size: 16px;
  padding-bottom: 32px;
}

.blogArticleMeta {
  width: 100%;
  display: flex;
  font-size: 12px;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
}

.blogArticleContainerButton {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  align-items: center;
  justify-content: center;
  bottom: -40px;
}

.clipAuthor {
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  position: absolute;
}

.clipAuthor div {
  z-index: 1px;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 40px;
  background-color: white;

  & img {
    z-index: 2;
    border-radius: 40px;
    padding: 2px;
    object-fit: cover;

  }
}

.clipAuthor::before {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  width: 100px;
  height: 1px;
  background: transparent
}

.effectBlockArticle:hover .clipAuthor::before {
  transition: width 2s ease-out;
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: transparent;
  box-shadow:
    0px 0px 35px 15px rgba(70, 3, 228, 0.6)
}

.clipAuthor::after {
  z-index: -1;
  content: '';
  position: absolute;
  right: 0;
  width: 100px;
  height: 1px;
  background: transparent
}

.effectBlockArticle:hover .clipAuthor::after {
  transition: width 2s ease-out;
  content: '';
  width: 100%;
  height: 1px;
  background: transparent;
  box-shadow:
    0px 0px 35px 15px rgba(70, 3, 228, 0.6)
}

.effectBlockArticle:hover .clipAuthor {
  & div {
    transition: background ease 1s;
    // background: rgb(93, 2, 240);
    box-shadow:
      0px 0px 25px 15px rgba(93, 2, 240, 0.6);

  }

}