

.siderbarOrganism {
    color: rgba(200, 200, 200, 1);
    background-image:#15141b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #080808ec;
    margin-top: 50%;
    top: 120px;
    max-width: 350px;
    max-height: 800px;

    width: 350px;
    height: 800px;
    position: sticky;
    &:hover {
  
 
          box-shadow: 1px 1px 20px 1px rgb(93, 2, 240);
    }
}