.containerBtn {
    position: relative;
    width: 155px;
    height: 40px;
    margin: 20px;
}
.buttonAtom {
    background: transparent;
    border: none;
    cursor:pointer;
}
.containerBtn .buttonAtom .linkBtn {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    color: #FFF;
    z-index:1;
    font-size:14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    border-radius:30px;


}
.containerBtn .buttonAtom:hover .linkBtn {
    letter-spacing: 1px;
}
.containerBtn .buttonAtom .linkBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15) , transparent);
    transform: skewX(45deg) translateX(0);
    transition: 1s;
}   
.containerBtn .buttonAtom:hover .linkBtn::before {
    transform: skewX(45deg) translate(200%);
}
.containerBtn .buttonAtom::before {
    border-radius:30px;

    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5%;
    width:30px;
    height: 2px;
    background: rgb(93, 2, 240);
    transition: 1s;
    box-shadow: 0 0 5px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
}
.containerBtn .buttonAtom:hover::before {
    border-radius:30px;
    bottom:0;
    width: 100%;
    height:100%;
    transition-delay: 0.2s;

}
.containerBtn .buttonAtom::after {
    border-radius:30px;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5%;
    width:30px;
    height: 2px;
    background: rgb(93, 2, 240);
    transition: 1s;
    box-shadow:  0 0 5px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
    0 0 15px rgb(93, 2, 240),
}
.containerBtn .buttonAtom:hover::after {
    border-radius:30px;
    top:0;
    width: 100%;
    height:100%;
  
    transition-delay: 0.2s;

}
